#test_info{margin: 0 auto; margin-top: 50px; width: 70%; height:700px;}
	.des_table{text-align: center; height:45px; color: #808080;  border: solid 1px;}
hr{height: 0; width: 80%;}
td{height: 30px; }
table{border-collapse:collapse;border-spacing:10;border-left:1px solid #888;border-top:1px solid #888;}

#submit_jar{margin-top: 20px;}